# Environment Variables
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Node / Next.js
node_modules/
.next/
out/
build/
dist/

# Logs & OS
*.log
.DS_Store
Thumbs.db
